.about-project {
  margin-top: 110px;
}

.about_project__info-list {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.about-project__into-title {
  font-size: 20px;
  line-height: 24px;
}

.about-project__into {
  margin-top: 26px;
  font-size: 14px;
  line-height: 20px;
  max-width: 550px;
}

.about-project__chart {
  margin-top: 110px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.about-project__stage-item {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
}

.about-project__stage-item:nth-child(odd) .about-project__stage-duration {
  background-color: var(--accent);
  color: black;
}

.about-project__stage-item:nth-child(even) .about-project__stage-duration {
  background-color: var(--off-white);
}

.about-project__stage-duration {
  padding: 9px 0;
}

.about-project__stage-description {
  font-weight: 500;
  margin-top: 14px;
  color: #8b8b8b;
}
