* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --promo-fill: #073042;
  --accent: #3ddc84;
  --off-white: #272727;
  --off-white-lighter: #303030;
  --background: #202020;
  --faded: #8b8b8b;
}

.root {
  background-color: var(--background);
  color: white;
}

.root,
button,
input {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1068px) {
  .container {
    max-width: 668px;
  }
}
