.main-page__section-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
  letter-spacing: -0.04em;
}

.main-page .footer {
  margin-top: 184px;
}

@media screen and (max-width: 1200px) {
  .main-page .container {
    max-width: var(--max-width-m);
  }

  .main-page .footer {
    margin-top: 148px;
  }
}

@media screen and (max-width: 720px) {
  .main-page__section-title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 27px;
  }

  .main-page .footer {
    margin-top: 130px;
  }

  .main-page .container {
    padding: 0 14px;
  }
}
