.main-page__title {
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.main-page__section-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
  letter-spacing: -0.04em;
}

.main-page .footer {
  margin-top: 184px;
}
