.techs {
  margin-top: 110px;
  background-color: var(--off-white);
  padding: 99px 0;
}

.techs__subtitle {
  max-width: max-content;
  margin: 90px auto 0;
}

.techs__info {
  max-width: 460px;
  font-weight: 400;
  margin: 26px auto 0;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.07em;
}

.techs__list {
  margin: 100px auto 0;
  display: flex;
  justify-content: center;
}

.techs__item {
  padding: 21px 0;
  background-color: var(--off-white-lighter);
  border-radius: 10px;
  min-width: 90px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
}

.techs__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 1150px) {
  .techs {
    margin-top: 90px;
    padding-top: 90px;
  }

  .techs__subtitle {
    margin-top: 80px;
  }

  .techs__info {
    margin-top: 20px;
    letter-spacing: -0.08em;
  }

  .techs__list {
    margin-top: 81px;
  }

  .techs__item {
    font-size: 12px;
    line-height: 15px;
    min-width: 84px;
  }
}
