.movies-list {
  margin-top: 69px;
  border-top: 1px solid #424242;
  padding-top: 80px;
}

.movies-list__list {
  display: flex;
  gap: 32px 20px;
  flex-wrap: wrap;
  place-content: center;
}

@media screen and (max-width: 1150px) {
  .movies-list {
    margin-top: 109px;
  }

  .movies-list__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px 30px;
  }
}
