.search {
  background-color: var(--off-white-faded);
  padding: 19px 30px 19px 63px;
  border-radius: 9px;
  display: flex;
  align-items: center;
}

.search__input {
  width: 100%;
  color: var(--faded);
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin-left: 10px;
  background-color: transparent;
  border: 0;
  outline-offset: 5px;
}

.search__label {
  display: flex;
}

.search__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.search__label {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.search__label:has(.search__checkbox:focus-visible) {
  outline: 1px solid whitesmoke;
  outline-offset: 2px;
  border-radius: 5px;
}

.search__btn {
  margin: 0 30px;
  padding: 8px 11px;
  background-color: var(--call-to-action);
  border: 0;
  border-radius: 48px;
}

.search__btn:active {
  opacity: 0.8;
}

.search__vertical-line-divider {
  width: 1px;
  height: 40px;
  background-color: #424242;
  display: block;
  margin-right: 29px;
}

.search__label-text {
  display: inline-block;
  margin-left: 14px;
}
