.main-page .footer {
  margin-top: 204px;
}

.footer {
  padding-bottom: 20px;
}

.footer__copyright {
  color: var(--faded);
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--faded);
}

.footer__row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links {
  display: flex;
}

.footer__links-item:not(:first-child) {
  margin-left: 20px;
}

.footer__link {
  text-decoration: none;
  color: white;
}
