.footer {
  padding-bottom: 20px;
}

.footer__copyright {
  color: var(--faded);
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--faded);
  font-size: 11.5px;
  line-height: 16px;
}

.footer__timestamp {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__row {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links {
  display: flex;
}

.footer__links-item:not(:first-child) {
  margin-left: 20px;
}

.footer__link {
  font-size: 13px;
  line-height: 16px;
}
